<!doctype html>
<html ng-app="myModule">
<head>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="demo.js"></script>
</head>
<body>
<div ng-controller= "myController">
    <div>
    	{{ message}}
    </div>
   <br>
<div>
	<div>First name: {{emp.firstName}}</div>
	<div>Last name: {{emp.lastName}}</div>
	<div>Gender: {{emp.lastName}}</div>
</div>

<br><br>
<div>
  <table>
            <tr>
                <td>
                    First Name
                </td>
                <td>
                    <input type="text" placeholder="Firstname"
                           ng-model="emp.firstName" />
                </td>
            </tr>
            <tr>
                <td>
                    Last Name
                </td>
                <td>
                    <input type="text" placeholder="Lastname"
                           ng-model="emp.lastName" />
                </td>
            </tr>
            <tr>
                <td>
                    Gender
                </td>
                <td>
                    <input type="text" placeholder="Gender"
                           ng-model="emp.gender" />
                </td>
            </tr>
        </table>
</div>

</div>
</body>
</html>