<div class = "container">
	<div class="wrapper">
		<form ng-submit="main.doLogin(loginData)" name="Login_Form" class="form-signin" >
		    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
			  <hr class="colorgraph"><br>
			  <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" ng-model = "main.loginData.username" />
			  <input type="password" class="form-control" name="Password" placeholder="Password" required="" ng-model = "main.loginData.password" />
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
		</form>
	</div>
</div>

<div class="jumbotron text-center" ng-show="main.loading">>
	<span class="glyphicon glyphicon-repeat fast-right-spinner"></span>
		<p> ......loading</p>
</div>

<div class="alert alert-danger" ng-show="main.errorMsg">
		<strong>Error! </strong>{{main.errorMsg}}
</div>

<div class="alert alert-success" ng-show="main.sucessMsg">
		<strong>Success! </strong>{{main.sucessMsg}}
</div>
